ion-toolbar {
    --background: rgba(255, 255, 255, 0.281); 
    border-radius: 10px; 
    color: #000000; 
    height: 50px; 
    display: inline-table; 
    align-items: center; 
    justify-content: space-between;
    padding: 0 16px;
  
    &.custom-toolbar {
        background-color: #FFB800 !important;
        --ion-color-primary: #FFB800;
    }
  }
  
  .logoInicio {
    background-image: url('../../../assets/img/paoDesenfocado.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    padding: 20px;
    flex-wrap: nowrap;
  
    h1 {
      position: relative;
      color: white;
      z-index: 1;
      font-size: x-large;
    }
  
    .logo {
      position: relative;
      width: 600px;
      z-index: 1;
      margin: 20px 0;
    }
  }