<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title #titulo class="ion-text font-size"
      style="display: flex; align-items: center; justify-content: space-between;">
      <div class="bienvenida">
        <span style="margin: 0 20px;">
          |
        </span>
        <span style="flex: 1; text-align: left;">
          Sistema de Asistencia DUOC
        </span>
        <span style="margin: 0 20px;">
          |
        </span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal page" #page>
  <!-- Nueva Sección de Fondo y Logo -->
  <div class="logoInicio">
    <h1 class="ion-text-center" [@fadeInAnimation]>¡Bienvenido(a) {{ usuario.nombre }} {{ usuario.apellido }}!</h1>
    <img src="../../../assets/img/Duoc.png" alt="Logo Duoc" class="logo">
  </div>

  <br>
  <b class="ion-text-center">
    <h4>Mis datos</h4>
  </b>

  <ion-item #itemCuenta>
    <ion-input [(ngModel)]="usuario.cuenta" labelPlacement="floating" label="Cuenta"
      placeholder="EJ: Atorres"></ion-input>
  </ion-item>

  <ion-item #itemNombre>
    <ion-input [(ngModel)]="usuario.nombre" labelPlacement="floating" label="Nombre" placeholder="EJ: Ana"></ion-input>
  </ion-item>

  <ion-item #itemApellido>
    <ion-input [(ngModel)]="usuario.apellido" labelPlacement="floating" label="Apellido"
      placeholder="EJ: Torres"></ion-input>
  </ion-item>

  <ion-item #itemEducacion>
    <ion-label position="floating">Educación</ion-label>
    <ion-select placeholder="Seleccione nivel" [(ngModel)]="usuario.nivelEducacional!.id">
      <ion-select-option *ngFor="let nivel of listaNivelesEducacionales" [value]="nivel.id">
        {{ nivel.nombre }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item #itemFechaNacimiento>
    <table class="table table-striped">
      <tr>
        <td class="font-size-12">
          Nacimiento
        </td>
        <td class="cell-align-right">
          <input matInput [matDatepicker]="fechaNacimiento" [(ngModel)]="usuario.fechaNacimiento"
            placeholder="dd/mm/yyy" class="date-width">
        </td>
        <td class="cell-width-0">
          <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
          <mat-datepicker #fechaNacimiento></mat-datepicker>
        </td>
      </tr>
    </table>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" class="ion-text-center">

    <ion-button shape="round" size="small" (click)="navegar('/')" color="medium">
      <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>
    &nbsp;&nbsp;&nbsp;
    <ion-col>
      <ion-button shape="round" size="small" (click)="navegar('/miclase')" color="medium">
        <ion-icon slot="start" name="school"></ion-icon>
        Mi Clase
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button shape="round" size="small" (click)="navegar('/misdatos')" color="medium">
        <ion-icon slot="start" name="person"></ion-icon>
        Mis Datos
      </ion-button>
    </ion-col>
    &nbsp;&nbsp;&nbsp;

    <ion-button shape="round" size="small" (click)="navegar('/qr')" color="success">
      <ion-icon slot="start" name="qr-code"></ion-icon>
      Asistencia
    </ion-button>

    &nbsp;&nbsp;&nbsp;

    <ion-button fill="outline" size="small" shape="round" (click)="navegar('/login')" color="light">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Salir
    </ion-button>

  </ion-toolbar>
</ion-footer>