<ion-content>
  <div class="center-container">
    <div class="ion-padding-vertical">
      <ion-card class="ion-text-center card-background">
        <ion-card-content>
    <ion-header>
  
    </ion-header>
      <ion-toolbar>
        Recuperar Contraseña
      </ion-toolbar>
      <br><br>
      <ion-card>
        <ion-card-subtitle>Ingresa a tu correo</ion-card-subtitle>
        <ion-input type="text" [(ngModel)]="correo" placeholder="Ej: Mperez@mail.com"></ion-input>
        <ion-button shape="block" size="small" (click)="ingresarValidarRespuestaSecreta()">
          <ion-icon name="checkmark"></ion-icon>
          Validar
        </ion-button>
      </ion-card>
      
    <br><br>


        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>