ion-content {
    --padding-top: 20px;
    /* Ajusta el padding para pantallas más pequeñas */
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
}

ion-item {
    --padding-bottom: 15px;
    --background: rgba(255, 255, 255, 0.281);
    /* Fondo semi-transparente */
    border-radius: 9px;
    color: #f9f5f5;
    height: 65px;
    display: flex;
    align-items: center;
}

::ng-deep .mat-datepicker-toggle {
    color: blue;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 18px;
    color: #f9f5f5;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

ion-card-header {
    text-align: center;
}

ion-toolbar {
    --background: rgba(255, 255, 255, 0.281);
    border-radius: 10px;
    color: #000000;
    height: 50px;
    display: inline-table;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    &.custom-toolbar {
        background-color: #FFB800 !important;
        --ion-color-primary: #FFB800;
    }
}

ion-input {
    color: #f9f5f5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

ion-button {
    color: #f9f5f5;
    --background: #010847;
    font-size: 14px;
    padding: 1px 110px;
    border-radius: 20px;
}

ion-label a {
    color: #f9f5f5;
    text-decoration: none;
}

ion-label a:hover {
    text-decoration: underline;
}

ion-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tituloQr {
    flex: 1;
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    text-decoration: solid;
    font-size: large;
}

.informacionQr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}